
@media
	screen and (max-width: 800px),
	screen and (max-device-width: 800px),
	screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

/*Page: Index */
.page-index .title-section h1.title {
	font-size: 3.5rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 5rem;
    padding: 3rem 3rem 1rem;}
.page-index .title-section h1.title .hello {
	font-size: 10rem;}
.page-index h1.title .subtitle1 {
	font-size: 2rem;
	padding: 2rem 1.5rem;
    margin: auto;
	margin-top: 2rem;}
.page-index h1.title .subtitle2 {
	font-size: 1.7rem;
	padding: 2rem 1.5rem;
    margin: auto;
	margin-top: 1rem;}
.page-index .container2 {
	padding: 6rem 0rem 2rem;
    margin: 0;
	text-align: center;}
.page-index .container2 .content-sections a {
	font-size: 1.5rem;
    padding: 1rem 2rem;}
.page-index .container3 {
	padding: 0;}
.page-index .social-media {
	justify-content: center;}

/* Page: Blog */
.page-blog .title-section h1.title {
	font-size: 13rem;
	margin-top: 17rem;}
.page-blog .posts-container {
	padding: 0rem;}
.page-blog .posts-container .post {
    width: 30rem;
    height: 30rem;}

/* Page: Posts */
.page-post .header h1.title {
	font-size: 4.5rem;
	margin: auto 0;
	padding: 13rem 1.5rem 6rem;}
.page-post .header .headertext {
	padding-bottom: 10rem;}
.page-post .post-content {
	padding: 40px 40px 0px;
	font-size: 1.7rem;}
.page-post .footer {
	padding: 3rem 3rem 0rem 0rem;}

/* Page: About */
.page-about .title-section h1.title {
	font-size: 13rem;
	margin-top: 16rem;}
.page-about .container2 .headshot-icons {
	margin-right: 0px;}
.page-about .container2 {
    padding: 4rem;}
.page-about .container2 .aboutme {
	font-size: 1.4rem;
	text-align: center;}
.page-about .container2 .aboutme .aboutme-intro {
	padding-top: 2rem;}

/* Page: Connect */
.page-contact .title-section h1.title {
	font-size: 6rem;
	margin-top: 25rem;}
.page-contact h1.title .subtitle {	
	margin-top: 0px;
	font-size: 1.4rem;
	margin-right: 5rem;
	margin-left: 5rem;}
.page-contact .contactform {
	padding: 4rem 0rem 0rem 5rem;}

/* ALL PAGES */
.title-section {
	height: 40rem;}

#navbar-button {
    display: block;
    margin-left: auto;
    padding: 0rem 5rem;
    font-size: 4rem;}
.nav-wrapper {
    display: none;
    width: 100%;}
.nav-wrapper.show {
	text-align: center;}

.container {
	flex-wrap: wrap;
	text-align: center;}

}


@media
	screen and (min-width: 801px) and (max-width: 1200px),
	screen and (min-device-width: 801px) and (max-device-width: 1200px),
	screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

/*Page: Index */
.page-index .title-section h1.title {
	margin: 0 auto;
	font-size: 4rem;
	text-align: center;
    padding: 11rem 3rem 1rem;}
.page-index .title-section h1.title .subtitle1 {
	padding: 1rem;
    margin: 3rem 20rem;}
.page-index .container2 {
	padding: 0;
	text-align: center;}
.page-index .container3 {
	padding: 3rem 0rem 2rem;}
.page-index .social-media {
	justify-content: center;}


/*Page: Blog */
.page-blog .posts-container .post {
	width: 30rem;
    height: 30rem;
    padding-top: 4rem;}

/*Page: Blog Posts */
.page-post .post-content {
	padding: 5rem 8rem;
	font-size: 1.7rem;}
.page-post .sign-off {
	padding: 3rem 3rem 0rem 0rem;}




}






