
@media
	screen and (max-width: 1200px),
	screen and (max-device-width: 1200px),
	screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

/*Page: Index */
.page-index .title-section h1.title {
	font-size: 5.5rem;
	text-align: left;
	margin: 0 auto;
    padding: 3rem 3rem 1rem;}
.page-index h1.title .subtitle {
	font-size: 1.2rem;
	padding: 2rem 1.5rem;
    margin: 1rem 0rem;}
.page-index .container2 {
	padding-top: 9rem;
    margin: auto;}
.page-index .container2 .content-sections a {
	font-size: 1.2rem;
    padding: 1rem 2rem;}
.page-index .container3 {
	padding: 1rem 11rem;}

/* Page: Blog */
.page-blog .posts-container {
	padding: 0px;}

/* Page: Posts */
.page-post .post-content {
	padding: 40px 40px 0px;
	font-size: 1.5rem;}
.page-post .header h1.title {
	font-size: 5rem;
	margin: auto 0;
	padding-top: 15px;}
.page-post .footer {
	padding: 3rem;}

/* Page: About */
.page-about .container2 .headshot-icons {
	margin-right: 0px;}
.page-about .container2 {
    padding: 4rem;}
.page-about .container2 .aboutme {
	font-size: 1.4rem;
	text-align: center;}
.page-about .container2 .aboutme .aboutme-intro {
	padding-top: 2rem;}

/* Page: Connect */
.page-contact h1.title .subtitle {	
	margin-top: 0px;
	font-size: 1.4rem;
	margin-right: 5rem;
	margin-left: 5rem;}
.page-contact .contactform {
	padding: 4rem 0rem 0rem 5rem;}


.title-section {
	height: 40rem;}
.title-section h1.title {
	font-size: 8rem;}


}


@media
	screen and (min-width: 1200px) and (max-width: 1400px),
	screen and (min-device-width: 1200px) and (max-device-width: 1400px),
	screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

/*Page: Index */
.page-index .title-section h1.title {
	margin: 0 auto;
	font-size: 4rem;
	text-align: left;
    padding: 11rem 3rem 1rem;}
.page-index .subtitle {
	padding: 4rem;
    margin: 3rem 20rem;}
.page-index .container3 {
	padding-top: 5rem;}

}






