
/**
 *  My Homegirl INDEX!!!
 */

/* Index - Intro Text */
.page-index {
    background: url(cfwood4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;}
.page-index h1.title {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Poppins';
    font-size: 5rem;
    color: white;
    padding: 0rem 15rem 5rem;}
.page-index h1.title .subtitle {
    display: flex;
    font-family: 'Poppins';
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, .9);
    color: #393638;
    text-align: center;
    padding: 4rem 4rem;
    margin: 3rem 0rem 0rem 68rem;}

/* Index - Category Images */
.page-index .container2 {
    font-family: 'Poppins';
    padding-top: 6rem;
    text-align: right;
    margin: 0rem 22rem;}
.page-index .container2 .content-sections a {
    color: white;
    border: solid white 1px;
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px;}

/* Index - Social Media */
.page-index .container3 {
    margin: 0;
    width: 100%;
    padding: 3rem 27rem 4rem 0rem;}
.page-index .social-media {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;}
.page-index .social-media img {
    height: 60px;
    width: 60px;
    padding: 10px;}


/**
 * Page - About Moi!!!
 */

.page-about .title-section {
    background: url(ocean-wallpaper2.jpg);
    background-size: cover;
    background-repeat: no-repeat;}

/* About Me - Photo & Social Media Buttons */
.page-about .container2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px;}
.page-about .container2 .headshot-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;}
.page-about .container2 img.headshot {
    margin-top: 0px;
    border-radius: 2%;
    height: 30rem;
    margin-bottom: 10px;}
.page-about .container2 .social-media img {
    height: 40px;
    margin-bottom: 10px;}

/* About Me - Content Bio */
.page-about .container2 .aboutme {
    font-family: 'Poppins';
    width: 500px;
    font-size: 1.4rem;}
.page-about .container2 .aboutme .aboutme-subsections {
    text-decoration: underline;
    font-family: 'Poppins';}
.page-about .container2 .aboutme .aboutme-intro {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Poppins';}


/**
 * Page-BLOG!!!
 */

.page-blog .title-section {
    background: url(cliff.jpg);
    background-size: cover;
    background-repeat: no-repeat;}
.page-blog .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 50px auto;
    text-align: center;}
.page-blog .posts-container .post {
    font-weight: bold;
    width: 30rem;
    height: 30rem;
    padding-top: 4rem;}


/**
 * ALL DA BLOG POSTS
 */

.page-post-7-considerations-before-changing-your-life .header {
   background: url(purpleocean.jpg);}
.page-post-how-to-handle-your-brain-possibly-exploding .header {
    background: url(space1.jpg);}
.page-post-my-path-to-eating-disorder-recovery .header {
    background: url(lotuss.jpg);}

.page-post .header {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;}
.page-post .header .headertext {
    background: rgba(255, 255, 255, .4);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}
.page-post .header h1.title {
    font-family: 'Poppins';
    font-size: 100px;
    padding-bottom: 20px;}
.page-post .header .subtitle {
    display: inline-flex;
    justify-content: center;
    font-size: 15px;
    font-family: 'Poppins';
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: black solid 1px;
    margin: 0 auto;}
.page-post .header .subtitle .date {
    padding-right: 40px;}

.page-post .post-content {
    padding: 8rem 30rem 0px;
    font-family: 'Poppins';
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;}

.page-post .footer {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Poppins';
    font-size: 16px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 60px 420px 0px 150px;}
.page-post .footer .signature {
    padding-left: 48px;}


/**
 * Contact Meeeeow!!
 */
.page-contact .title-section {
    background: url(woods-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    margin-top: -1px;}
.page-contact .title-section h1.title .subtitle {
    margin-right: 8rem;
    margin-left: 8rem;}
.page-contact .contactform {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem 0rem 30rem;}


/**
 * ALL DA PAGES
 */


/* Navagation Bar */
.container {
    margin:0;
    width: 100%;
    display: flex;
    padding: 1rem 0rem .7rem 0rem;}

.container1 .giraffe-icon {
    height: 4rem;
    padding: 0rem .5rem 0rem 5rem;}
.container1 a.logo-text {
    font-family: 'Satisfy';
    color: white;
    font-size: 2.5rem;
    padding-top: .5rem;}


#navbar-button {
    display: none;}
.nav-wrapper {
    display: block;
    margin-left: auto;
    padding: 0rem 5rem;}
.nav-wrapper.show {
    display: block;}

/* Intro Text */

.section1img {
    width: 100%;}
.title-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    margin-top: -1px;}
.title-section .title {
    color: white;
    font-family: 'Poppins';
    font-size: 20rem;
    margin-top: 17rem;}
/*.title-section .subtitle {
    font-family: 'Poppins';
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, .4);
    padding: 10px 15px;}*/
h1.title {
    display: inline-block;
    font-weight: bolder;
    color: black;
    margin-top: 50px;
    margin-bottom: 0;}



