
@media
	screen and (max-width: 1200px),
	screen and (max-device-width: 1200px),
	screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

/*Page: Index */
.page-index h1.title {
	margin: 0 auto;
    padding: 6rem 3rem 1rem;}
.page-index h1.title .subtitle {
	padding: 4rem;
    margin: 2.2rem;}
.page-index .container2 {
	padding-top: 22rem;}
.page-index .container3 {
	padding-top: 4rem;}

/* Page: Blog */
.page-blog h1.title .subtitle {	
	margin-top: 0px;}
.page-blog .posts-container {
	padding: 0px;}

/* Page: Posts */
.page-post .post-content {
	padding: 40px 40px 0px;
	font-size: 1.5rem;}
.page-post .header h1.title {
	font-size: 5rem;
	margin: auto 0;
	padding-top: 15px;}
.page-post .footer {
	padding: 3rem;}

/* Page: About */
.page-about .container2 .headshot-icons {
	margin-right: 0px;}
.page-about .container2 {
    padding: 4rem;}
.page-about .container2 .aboutme {
	font-size: 1.4rem;
	text-align: center;}
.page-about .container2 .aboutme .aboutme-intro {
	padding-top: 2rem;}

/* Page: Connect */
.page-contact .title-section .title {
	font-size: 8rem;
    margin-top: 4rem;}
.page-contact h1.title .subtitle {	
	margin-top: 0px;
	font-size: 1.2rem;}
.page-contact .contactform {
	padding: 4rem 0rem 0rem 5rem;}

}


@media
	screen and (min-width: 1200px) and (max-width: 1400px),
	screen and (min-device-width: 1200px) and (max-device-width: 1400px),
	screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

/*Page: Index */
.page-index h1.title {
	margin: 0 auto;
    padding: 11rem 3rem 1rem;}
.page-index .subtitle {
	padding: 4rem;
    margin: 3rem 20rem;}
.page-index .container3 {
	padding-top: 5rem;}

}






