
/**
 *  My Homegirl INDEX!!!
 */

/* Index - Intro Text */
.page-index {
    background: url(cfwood4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;}
.page-index h1.title {
    flex-direction: column;
    text-align: right;
    font-family: 'Poppins';
    font-size: 5rem;
    color: white;
    padding: 0rem 15rem 5rem;
    margin-top: 11rem;}
.page-index .title-section h1.title .hello {
    font-size: 11rem;}
.page-index h1.title .subtitle1 {
    font-family: 'Poppins';
    font-size: 2rem;
    background-color: #939A1B;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin: 3rem 0rem 0rem 68rem;}
.page-index h1.title .subtitle2 {
    display: flex;
    font-family: 'Poppins';
    font-size: 2rem;
    background-color: #1B9A93;
    color: white;
    text-align: center;
    padding: 3rem 4rem;
    margin: 1rem 0rem 0rem 68rem;}

/* Index - Category Images */
.page-index .container2 {
    font-family: 'Poppins';
    padding-top: 7rem;
    text-align: right;
    margin: 0rem 23rem;}
.page-index .container2 .content-sections a {
    color: white;
    border: solid white 1px;
    background-color: rgba(225, 225, 225, .3);
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px;}

/* Index - Social Media */
.page-index .container3 {
    margin: 0;
    width: 100%;
    padding: 3rem 25rem 4rem 0rem;}
.page-index .social-media {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;}
.page-index .social-media img {
    height: 60px;
    width: 60px;
    padding: 10px;}


/**
 * Page - About Moi!!!
 */

.page-about .title-section {
    background: url(Lotus-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;}
.page-about .title-section h1.title {
    color: #939A1B;}

/* About Me - Photo & Social Media Buttons */
.page-about .container2 {
    width: 60%;
    margin: 4rem auto;}
.page-about .container2 .headshot-icons {
    float: left;
    margin-right: 50px;}
.page-about .container2 img.headshot {
    margin-top: 0px;
    border-radius: 2%;
    height: 30rem;
    margin-bottom: 1.5rem;}
.page-about .container2 .social-media img {
    height: 40px;
    margin-bottom: 10px;}

/* About Me - Content Bio */
.page-about .container2 .aboutme {
    font-family: 'Poppins';
    font-size: 1.7rem;}
.page-about .container2 .aboutme .aboutme-subsections {
/*    text-decoration: underline;*/
    font-family: 'Poppins';
    font-size: 2rem;}
.page-about .container2 .aboutme .aboutme-intro {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Poppins';
    margin-top: 5rem;}


/**
 * Page-BLOG!!!
 */

.page-blog .title-section {
    background: url(ocean-wallpaper2.jpg);
    background-size: cover;
    background-repeat: no-repeat;}
.page-blog .title-section h1.title {
    color: yellow;}
.page-blog .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 50px auto;
    text-align: center;}
.page-blog .posts-container .post {
    font-weight: bold;
    width: 30rem;
    height: 30rem;
    padding: 6rem 2rem;
    margin: 2rem;cf}
.page-blog .posts-container .post .title {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0rem;
    color: white;
    font-family: 'Poppins';}


/**
 * ALL DA BLOG POSTS
 */
.page-post-how-to-change-manipulative-patterns-and-forgive-yourself .header {
    background: url(cage.jpg);}
.page-post-top-23-songs-to-reclaim-your-day .header {
    background: url(hippies_dancing.jpg);
    background-position-y: -10rem;}
.page-post-7-considerations-before-changing-your-life .header {
   background: url(littlegirl1.jpg);
   background-position-y: -15rem;}
.page-post-how-to-set-boundaries-101 .header {
    background: url(stop.jpg);
    background-position-y: -22rem;}
.page-post-my-path-to-eating-disorder-recovery .header {
    background: url(rain.jpg);
    background-position-y: -3rem;}

.page-post .header {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;}
.page-post .header .headertext {
    background: rgba(255, 255, 255, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    padding-bottom: 4rem;}
.page-post .header h1.title {
    font-family: 'Poppins';
    font-size: 9rem;
    padding: 0rem 4rem 4rem;
    margin-top: 6rem;}
.page-post .header .subtitle {
    display: inline-flex;
    justify-content: center;
    font-size: 15px;
    font-family: 'Poppins';
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: black solid 1px;
    margin: 0 auto;}
.page-post .header .subtitle .date {
    padding-right: 40px;}
.page-post .post-content {
    padding: 8rem 30rem 0px;
    font-family: 'Poppins';
    font-size: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;}
.page-post .sign-off {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Poppins';
    font-size: 1.7rem;
    width: 100%;
    margin: 0 auto;
    padding: 4.5rem 10rem 0px 20rem;}
.page-post .sign-off .signature {
    padding-left: 48px;}
.page-post .footer {
    background-color: #222;
    text-align: center;
    margin: 3rem 0rem 0rem;}
.page-post .footer .social {
    border: solid white .1rem;
    padding: 3rem 0rem;
    margin: 3rem 50rem 4rem;}
.page-post .footer .social img#feedlyFollow {
    margin-top: -2rem;}
.page-post .footer .social .text{
    font-size: 2rem;
    font-family: 'Poppins';
    color: white;
    padding-bottom: 3rem;}
.page-post .footer .social .text2 {
    color: tomato;}
.page-post .footer .by {
    font-size: 1rem;
    color: #999;
    padding-bottom: 2rem;}
.page-post .footer .by a {
    color: #999;}


/**
 * Contact Meeeeow!!
 */
.page-contact .title-section {
    background: url(large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1px;}
.page-contact .title-section h1.title {
    color: tomato;}
.page-contact .title-section h1.title .subtitle {
    margin-right: 8rem;
    margin-left: 8rem;}
.page-contact .contactform {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem 0rem 30rem;}


/**
 * ALL DA PAGES
 */


/* Navagation Bar */
.container {
    margin:0;
    width: 100%;
    display: flex;
    padding: 1rem 0rem .7rem 0rem;}

.container1 .giraffe-icon {
    height: 4rem;
    padding: 0rem .5rem 0rem 5rem;}
.container1 a.logo-text {
    font-family: 'Satisfy';
    color: white;
    font-size: 2.5rem;
    padding-top: .5rem;}


#navbar-button {
    display: none;}
.nav-wrapper {
    display: block;
    margin-left: auto;
    padding: 0rem 5rem;}
.nav-wrapper.show {
    display: block;}

/* Intro Text */

.section1img {
    width: 100%;}
.title-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    margin-top: -1px;}
.title-section .title {
    font-family: 'Poppins';
    font-size: 20rem;
    margin-top: 17rem;}
h1.title {
    display: inline-block;
    font-weight: bolder;
    color: black;
    margin-top: 50px;
    margin-bottom: 0;}



